
@main("Description") {
<h1>Risiko</h1>
    <h2>Allgemeines</h2>
    <p>Risiko ist ein von dem französischen Filmregisseur Albert Lamorisse erfundenes Brettspiel,
        das kriegerische Konflikte zwischen Ländern auf abstraktem Niveau simuliert.
        Es gilt als ein Klassiker unter den Strategiespielen und ist eines der weltweit bekanntesten Brettspiele.
        Es wurde in zahlreiche Sprachen übersetzt und wird in den meisten Ländern trotz der starken Konkurrenz durch
        neuere Spiele auch noch 60 Jahre nach seiner Ersterscheinung aufgelegt.
        Die Fülle von Nachahmungen und Erweiterungen zeigt die prägende Rolle des Spiels für das Genre der <a href="https://www.gesellschaftsspiele.de/brettspiele/">Brettspiele</a>.</p>
        
        Trotz des primären Themas Krieg ist Risiko kein typisches Konfliktsimulationsspiel, das seinen Schwerpunkt auf Realitätsnähe oder anspruchsvolle taktische Herausforderungen legt.
        Stattdessen ähnelt Risiko den heutigen Autorenspielen, die einfache strategische Entscheidungen, diplomatisches Handeln und Glück in den Vordergrund stellen.
<h2>Geschichte</h2>
    Risiko wurde Anfang der 1950er Jahre von dem französischen Filmregisseur <a href="https://de.wikipedia.org/wiki/Albert_Lamorisse">Albert Lamorisse</a> erfunden.
    Die erste Version hat vermutlich 1955 der Autor selbst herausgegeben.
    1957 veröffentlichte die Miro Company es unter dem Titel La Conquête du Monde (Die Eroberung der Welt).
    Danach wurde es von dem Spieleentwickler und Bridge-Experten Jean-René Vernes spielbarer gemacht und erhielt den Namen Risk (Risiko).
    1959 erschien die erste US-amerikanische Version im Hause Parker.
    1961 brachte Schmidt Spiele die erste deutsche Version heraus.
    In den 1970er Jahren brachte dann auch Parker eine deutsche Version heraus. Sowohl Miro Company als auch Parker Brothers sind heute im Besitz von Hasbro.
    Wegen der militaristischen Ausdrucksweise, in der die Spielbeschreibung der ersten Spielversion in Deutschland gehalten war,
    sollte das Spiel 1982 indiziert werden. Erst eine gerichtliche Auseinandersetzung wandte dieses ab.
    Als Konsequenz änderte der Hersteller die Formulierungen der Spielbeschreibung und Anleitung ab.
    War in älteren Versionen noch vom „Erobern“ bestimmter Gebiete und „Vernichten“ der Gegner die Rede, werden in neueren Versionen Gebiete „befreit“
    und die gegnerischen Armeen „aufgelöst“. Ferner werden Angriff und Verteidigung als „diplomatische Verhandlungen“ beschrieben.
<h2>Das Spiel</h2>
    <h3>Beschreibung</h3>
    Die Weltkarte des Risikospiels besteht aus den sechs Kontinenten Nordamerika, Südamerika, Europa, Afrika, Asien und Australien.
    Auf diese sind 42 Gebiete verteilt, die entweder nach geographischer Lage (z. B. Südeuropa), nach Regionen (z. B. Kamtschatka) oder realen Staaten (z. B. Großbritannien) benannt sind.
    Zwei bis sechs Spieler versuchen, abwechselnd Gebiete und Kontinente in ihren Besitz zu bringen. Ziel des Spiels ist es, je nach Auftrag einen oder mehrere Kontinente, eine bestimmte Anzahl
    von Gebieten oder die ganze Welt zu erobern oder einen bestimmten Gegner komplett zu vernichten. Die Spieler entscheiden dabei nach strategischen Gesichtspunkten über die Platzierung und den Einsatz ihrer Armeen.
    Für den Erfolg der Schlachten ist die Größe der Armeen und das Würfelglück bestimmend.
    <p>Quelle: <a href="https://de.wikipedia.org/wiki/Risiko_(Spiel)">Wikipedia</a> </p>
}