@import views.html._

@import views.html.main
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import play.api.i18n.Messages

@(user: models.User, websocket: String)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@additionalCss = {
    <link rel="stylesheet" type="text/css" href="@assets.path("stylesheets/game.css")">
}

@additionalJs = {
    <script src="@assets.path("javascripts/game/myVue.js")"type="text/javascript"></script>
    <script src="@assets.path("javascripts/game/map.js")" type="text/javascript"></script>
    <script src="@assets.path("javascripts/game/websocket.js")"></script>
    <script src="@assets.path("javascripts/game/dices.js")"></script>
    <script src="@assets.path("javascripts/game/conquere_country.js")"></script>
    <script src="@assets.path("javascripts/game/move_troops.js")"></script>
    <script src="@assets.path("javascripts/game/main.js")"></script>
    <script src="@assets.path("/bower_components/webcomponentsjs/webcomponents-loader.js")"type="=text/javascript"></script>
}

@main("Risk Technologie- The Game!", Some(user), additionalCss, additionalJs) {
    <div id="websocket" class="hide">@websocket</div>

    <div class="mt-2 col-md-20"></div>  <!-- adding some margings -->
    <div class="layout h6em">
        <div class="user_list layout_item one-third">User</div><!--
        --><div class="layout_item two-thirds right">
            <div class="start_game"><button class="btn btn-primary btn-block">Start</button></div>
            <table class="dices center left"></table>
            <div class="conquered_country left"></div>
            <div class="move_troops left"></div>
        </div>
    </div>

    <div>
        <canvas id="map" data-map="@assets.path("images/map_white.png")"
            data-ref="@assets.path("images/map_ref_new.png")"></canvas>
    </div>

    <div class="mt-2 col-md-20"></div>  <!-- adding some margings -->

    <polymer-custom-string></polymer-custom-string>

    <h3><div class="col-md-5" id="bar-1"><p>{{ message }}</p></div></h3>
    <h3><div class="col-md-3" id="bar-2"><p>{{ message }}</p></div></h3>
    <h3><div class="col-md-2" id="bar-3"><p>{{ message }}</p></div></h3>

    <div>
        <button type="button" class="btn btn-success btn-block" id="finishMoveButton">Zug beenden</button>
    </div>

}
