@import views.html._

@import views.html.main
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import play.api.i18n.Messages

@()(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@additionalCss = {
    <link rel="stylesheet" type="text/css" href="@assets.path("stylesheets/game.css")">
}

@additionalJs = {
    <script src="@assets.path("javascripts/game/main.js")"text="text/javascript"></script>
    <script src="@assets.path("javascripts/game/websocket.js")"></script>
    <script src="@assets.path("javascripts/game/vue.min.js")"type="text/javascript"></script>
    <script src="@assets.path("javascripts/game/map.js")" type="text/javascript"></script>
    <script src="@assets.path("javascripts/game/myVue.js")"type="text/javascript"></script>
    <script src="@assets.path("/bower_components/webcomponentsjs/webcomponents-loader.js")"type="=text/javascript"></script>
}

@main("Risk Technologie- The Game!", None, additionalCss, additionalJs) {

    <div class="mt-2 col-md-20"></div>  <!-- adding some margings -->

    <div class="container">
        <canvas id="map" data-map="@assets.path("images/map_white.png")"
            data-ref="@assets.path("images/map_ref_new.png")"></canvas>
    </div>

    <div class="mt-2 col-md-20"></div>  <!-- adding some margings -->

    <polymer-custom-string></polymer-custom-string>

    <div class="container">

        <div class="row">
            <h2><div class="col-md-3" id="bar-1"><p>{{ message }}</p></div></h2>
            <h2><div class="col-md-4" id="bar-2"><p>{{ message }}</p></div></h2>
            <h2><div class="col-md-3" id="bar-3"><p>{{ message }}</p></div></h2>
        </div>
        <div>
            <button type="button" class="btn btn-success btn-block" id="finishMoveButton">Zug beenden</button>
        </div>
    </div>

}
