@*
* This template takes a single argument, a String containing a
* message to display.
*@

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Story") {
<h1>Risiko</h1>
    <h2>Allgemeines</h2>
    <p>Risiko ist ein von dem französischen Filmregisseur Albert Lamorisse erfundenes Brettspiel,
        das kriegerische Konflikte zwischen Ländern auf abstraktem Niveau simuliert.
        Es gilt als ein Klassiker unter den Strategiespielen und ist eines der weltweit bekanntesten Brettspiele.
        Es wurde in zahlreiche Sprachen übersetzt und wird in den meisten Ländern trotz der starken Konkurrenz durch
        neuere Spiele auch noch 60 Jahre nach seiner Ersterscheinung aufgelegt.
        Die Fülle von Nachahmungen und Erweiterungen zeigt die prägende Rolle des Spiels für das Genre der <a href="https://www.gesellschaftsspiele.de/brettspiele/">Brettspiele</a>.</p>
        
        Trotz des primären Themas Krieg ist Risiko kein typisches Konfliktsimulationsspiel, das seinen Schwerpunkt auf Realitätsnähe oder anspruchsvolle taktische Herausforderungen legt.
        Stattdessen ähnelt Risiko den heutigen Autorenspielen, die einfache strategische Entscheidungen, diplomatisches Handeln und Glück in den Vordergrund stellen.
<h2>Geschichte</h2>
    Risiko wurde Anfang der 1950er Jahre von dem französischen Filmregisseur <a href="https://de.wikipedia.org/wiki/Albert_Lamorisse">Albert Lamorisse</a> erfunden.
    Die erste Version hat vermutlich 1955 der Autor selbst herausgegeben.
    1957 veröffentlichte die Miro Company es unter dem Titel La Conquête du Monde (Die Eroberung der Welt).
    Danach wurde es von dem Spieleentwickler und Bridge-Experten Jean-René Vernes spielbarer gemacht und erhielt den Namen Risk (Risiko).
    1959 erschien die erste US-amerikanische Version im Hause Parker.
    1961 brachte Schmidt Spiele die erste deutsche Version heraus.
    In den 1970er Jahren brachte dann auch Parker eine deutsche Version heraus. Sowohl Miro Company als auch Parker Brothers sind heute im Besitz von Hasbro.
    Wegen der militaristischen Ausdrucksweise, in der die Spielbeschreibung der ersten Spielversion in Deutschland gehalten war,
    sollte das Spiel 1982 indiziert werden. Erst eine gerichtliche Auseinandersetzung wandte dieses ab.
    Als Konsequenz änderte der Hersteller die Formulierungen der Spielbeschreibung und Anleitung ab.
    War in älteren Versionen noch vom „Erobern“ bestimmter Gebiete und „Vernichten“ der Gegner die Rede, werden in neueren Versionen Gebiete „befreit“
    und die gegnerischen Armeen „aufgelöst“. Ferner werden Angriff und Verteidigung als „diplomatische Verhandlungen“ beschrieben.
<h2>Das Spiel</h2>
    <h3>Beschreibung</h3>
    Die Weltkarte des Risikospiels besteht aus den sechs Kontinenten Nordamerika, Südamerika, Europa, Afrika, Asien und Australien.
    Auf diese sind 42 Gebiete verteilt, die entweder nach geographischer Lage (z. B. Südeuropa), nach Regionen (z. B. Kamtschatka) oder realen Staaten (z. B. Großbritannien) benannt sind.
    Zwei bis sechs Spieler versuchen, abwechselnd Gebiete und Kontinente in ihren Besitz zu bringen. Ziel des Spiels ist es, je nach Auftrag einen oder mehrere Kontinente, eine bestimmte Anzahl
    von Gebieten oder die ganze Welt zu erobern oder einen bestimmten Gegner komplett zu vernichten. Die Spieler entscheiden dabei nach strategischen Gesichtspunkten über die Platzierung und den Einsatz ihrer Armeen.
    Für den Erfolg der Schlachten ist die Größe der Armeen und das Würfelglück bestimmend.
    <h3>Regeln</h3>
        <h4><b>Spielvorbereitung</b></h4>
        Vor dem Spiel müssen sich die Teilnehmer auf das Ziel des Spieles verständigen. Entweder ist dies die Eroberung der ganzen Welt oder es ergibt sich aus der Aufgabenkarte, die die Spieler bekommen
        und den dort beschriebenen Auftrag erfüllen müssen, d. h., sie versuchen gegen die Interessen der anderen Mitspieler einzelne Kontinente oder Gebiete zu erobern.
        Im weiteren Spielverlauf gelten für beide Spielvarianten dieselben Regeln.
        Zu Beginn eines Spiels werden die Gebietskarten reihum verdeckt an die Mitspieler verteilt. Die Mitspieler positionieren jeweils eine Armee in den Gebieten,
        für die sie eine Gebietskarte erhalten haben. Danach wird reihum eine feste Anzahl von Soldaten (2 * Gesamtanzahl der Gebiete / Anzahl der Spieler) auf die eigenen Gebiete verteilt,
        indem ein Spieler bei jedem Durchgang genau eine Einheit auf genau ein eigenes Land setzt. Im Anschluss werden sämtliche Gebietskarten wieder dem Spiel zugeführt und auf einem Kartenstapel vorgehalten,
        von wo sie ein Spieler als Belohnung für die erfolgreiche Eroberung eines Landes erhält.
        Nach dem Verteilen der Gebiete und Armeen beginnt das eigentliche Spielgeschehen.
        Jeder Zug eines Spielers besteht dabei aus vier aufeinander folgenden Phasen, deren Reihenfolge genau zu beachten ist:
    <p><b>Phase 1: Verstärkung</b></p>
    <p>Zu Beginn einer Runde erhält der Spieler, der an der Reihe ist, Verstärkungen nach bestimmten Kriterien (Anzahl der eigenen Gebiete, Besetzen eines Kontinents oder Eintausch von Gebietskarten), die er auf seine Gebiete aufteilen kann.</p>
    <p><b>Phase 2: Befreiungsaktionen</b></p>
    <p>Nach dem Verteilen der Verstärkungen kann der Spieler Gebiete erobern, die sich in Besitz von Mitspielern befinden. Die Eroberungsaktion wird mit Hilfe der Würfel ausgeführt. Der Angreifer darf im Optimalfall drei Würfel benutzen, der Verteidiger maximal zwei. Hierbei ist zu beachten, dass jeweils das höchste und das zweithöchste Wurfergebnis von Angreifer und Verteidiger gegenübergestellt wird. Zeigen zwei zu vergleichende Würfe die gleiche Augenzahl, so gewinnt der verteidigende Spieler und der Angreifer muss eine Einheit vom Brett nehmen. Bei größeren Truppenkontingenten wird solange gewürfelt, bis der Verteidiger oder der Angreifer keine Truppen mehr hat und somit der Angreifer dieses Land unter seinen Besitz gebracht oder der Verteidiger das Land erfolgreich verteidigt hat, der Angreifer den Angriff vorzeitig abbricht oder keine Truppen mehr für einen Angriff hat.</p>
    <p><b>Phase 3: Truppenbewegungen</b></p>
    <p>Im Anschluss aller Eroberungsaktionen kann der Spieler beliebig viele Einheiten <b>eines</b> Landes nach bestimmten Regeln in <b>ein</b> anderes Land verschieben. Auf jedem Gebiet muss stets mindestens eine Armee zurückbleiben, um das Land zu sichern.</p>
    <p><b>Phase 4: Gebietskarte ziehen</b></p>
    <p>Bei erfolgreicher Eroberung mindestens eines Landes erhält der Spieler eine Gebietskarte.</p>
    <h3>Die Chancen eines einzelnen Angriffs lassen sich mit Mitteln der <a href="https://de.wikipedia.org/wiki/Abzählende_Kombinatorik">Kombinatorik</a> berechnen </h3>
    <p>Folgende Tabelle gibt eine Übersicht über die Gewinnwahrscheinlichkeiten</p>
    <table>
        <tr>
            <th>Angreifer Armeen</th>
            <th>Verteidiger Armeen</th>
            <th>Angreifer totaler Sieg</th>
            <th>Verteidiger totaler Sieg</th>
            <th>Unentschieden</th>
            <th>günstige Kombinationen</th>
            <th>mögliche Kombinationen</th>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>41,7%</td>
            <td>58,3%</td>
            <td>-</td>
            <td>15</td>
            <td>36</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>25,5%</td>
            <td>74,6%</td>
            <td>-</td>
            <td>55</td>
            <td>216</td>
        </tr>
        <tr>
            <td>2</td>
            <td>1</td>
            <td>57,9%</td>
            <td>42,6%</td>
            <td>-</td>
            <td>125</td>
            <td>216</td>
        </tr>
        <tr>
            <td>2</td>
            <td>2</td>
            <td>22,8%</td>
            <td>44,8%</td>
            <td>32,4%</td>
            <td>295</td>
            <td>1296</td>
        </tr>
        <tr>
            <td>3</td>
            <td>1</td>
            <td>66,0%</td>
            <td>34,0%</td>
            <td>-</td>
            <td>855</td>
            <td>1296</td>
        </tr>
        <tr>
            <td>3</td>
            <td>2</td>
            <td>37,2%</td>
            <td>29,3%</td>
            <td>33,6</td>
            <td>2890</td>
            <td>7776</td>
        </tr>
    </table>
    <p>Quelle: <a href="https://de.wikipedia.org/wiki/Risiko_(Spiel)">Wikipedia</a> </p>
}