@*
* This template takes a single argument, a String containing a
* message to display.
*@

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Story") {
<h1>Risiko</h1>
    <p>Risiko ist ein von dem französischen Filmregisseur Albert Lamorisse erfundenes Brettspiel, das kriegerische Konflikte zwischen Ländern auf abstraktem Niveau simuliert. Es gilt als ein Klassiker unter den Strategiespielen und ist eines der weltweit bekanntesten Brettspiele. Es wurde in zahlreiche Sprachen übersetzt und wird in den meisten Ländern trotz der starken Konkurrenz durch neuere Spiele auch noch 60 Jahre nach seiner Ersterscheinung aufgelegt. Die Fülle von Nachahmungen und Erweiterungen zeigt die prägende Rolle des Spiels für das Genre der Brettspiele.[1]
        
        Trotz des primären Themas Krieg ist Risiko kein typisches Konfliktsimulationsspiel, das seinen Schwerpunkt auf Realitätsnähe oder anspruchsvolle taktische Herausforderungen legt. Stattdessen ähnelt Risiko den heutigen Autorenspielen, die einfache strategische Entscheidungen, diplomatisches Handeln und Glück in den Vordergrund stellen.</p>

}