* {
    padding: 0;
    margin: 0;
}

.map_container {
    font-size: 80px;
}

.map_scale {
    font-size: 0.75em;
}

.map_view {
    width: 20.625em;
    height: 13.5em;
}

@media (min-width: 415px) {
    .map_scale {
        font-size: 0.25em;
    }

    .dices {
        font-size: 40px;
    }
}

@media (min-width: 840px) {
    .map_scale {
        font-size: 0.4em;
    }

    .dices {
        font-size: 70px;
    }
}

@media (min-width: 1240px) {
    .map_scale {
        font-size: 0.6em;
    }

    .dices {
        font-size: 100px;
    }
}

.dices {
    vertical-align: middle;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

.dices td {
    line-height: 0.8em;
}