* {
    padding: 0;
    margin: 0;
}

.map_container {
    font-size: 80px;
}

.map_scale {
    font-size: 0.75em;
}

.map_view {
    width: 20.625em;
    height: 13.5em;
}

@media (max-width: 840px) {
    .map_scale {
        font-size: 0.25em;
    }

    .dices {
        font-size: 40px;
    }

    .h4em {
        height: 1.5em;
    }

    .h6em {
        height: 3em;
    }
}

@media (min-width: 840px) {
    .map_scale {
        font-size: 0.4em;
    }

    .dices {
        font-size: 70px;
    }

    .h4em {
        height: 3em;
    }

    .h6em {
        height: 4em;
    }
}

@media (min-width: 1240px) {
    .map_scale {
        font-size: 0.6em;
    }

    .dices {
        font-size: 100px;
    }

    .h4em {
        height: 4em;
    }

    .h6em {
        height: 6em;
    }
}

.one-half {
    width: 50%;
}

.layout {
    font-size: 25px;
}

.layout_item {
    display: inline-block;
}

.one-third {
    width: 33.3333333333%;
}

.two-thirds {
    width: 66.66666666666%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.landColor {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 0.5em;
}

.dices {
    vertical-align: middle;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

.dices td {
    line-height: 0.8em;
}